@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?98215842");
  src: url("../fonts/fontello.eot?98215842#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?98215842") format("woff"), url("../fonts/fontello.ttf?98215842") format("truetype"), url("../fonts/fontello.svg?98215842#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-snow {
  color: #1FC4D9; }

.icon-temperature {
  color: #e67e22; }

.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 2em;
  font-size: 2em; }

.icon-back {
  color: white;
  font-size: 15px;
  margin: -5px 0;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  text-decoration: none; }

[ng-view] {
  height: 100%; }

.infoRow {
  padding: 10px 20px;
  background: #34495e;
  color: white;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35); }

.meterRow {
  border-bottom: 1px solid #dadada; }

.customerName {
  margin-right: 10px; }

.accountNumber, .customerName {
  float: right;
  font-weight: 700; }

.l-h-30 {
  line-height: 30px; }

html, body {
  width: 100%;
  height: 100%; }

.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  text-align: center; }
  .wrapper:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ''; }
  .wrapper .counter {
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    width: 100%; }
    .wrapper .counter > ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
  .wrapper .search_box {
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    margin-left: -4px;
    width: 100% !important;
    max-width: none;
    min-width: 0; }
    .wrapper .search_box .erc_search {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #dadada;
      box-shadow: none;
      -webkit-transition: ease-in-out 0.3s;
      -moz-transition: ease-in-out 0.3s;
      -ms-transition: ease-in-out 0.3s;
      -o-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
      outline: none; }
      .wrapper .search_box .erc_search:active, .wrapper .search_box .erc_search:focus, .wrapper .search_box .erc_search:valid {
        outline: none;
        -webkit-box-shadow: inset -40px 0 #3498db;
        -moz-box-shadow: inset -40px 0 #3498db;
        box-shadow: inset -40px 0 #3498db;
        -webkit-transition: ease-in-out 0.3s;
        -moz-transition: ease-in-out 0.3s;
        -ms-transition: ease-in-out 0.3s;
        -o-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s; }
    .wrapper .search_box .erc_search_variant {
      list-style-type: none;
      width: 100%;
      top: 41px;
      position: absolute;
      margin: 0;
      padding: 0;
      border: 1px solid #cacaca;
      border-bottom: 3px solid #2980b9; }
      .wrapper .search_box .erc_search_variant > li {
        cursor: pointer;
        position: relative;
        border-bottom: 1px solid #dadada;
        text-align: left;
        padding: 15px 7.5px; }
        .wrapper .search_box .erc_search_variant > li > span.number {
          color: white;
          font-size: 11px;
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 2px 5px;
          background: #3498db; }
        .wrapper .search_box .erc_search_variant > li:last-child {
          border-bottom: 0px solid #dadada; }
    .wrapper .search_box .icon {
      position: absolute;
      right: 0px;
      z-index: 2;
      top: 0px;
      padding: 21px;
      background: url(/assets/img/home168.png) no-repeat;
      background-position: 50%;
      -webkit-transition: ease-in-out 0.3s;
      -moz-transition: ease-in-out 0.3s;
      -ms-transition: ease-in-out 0.3s;
      -o-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
      .wrapper .search_box .icon:hover {
        cursor: pointer; }

@media (min-width: 720px) {
  .wrapper .counter {
    width: auto; }
  .wrapper .search_box {
    width: 33%;
    max-width: 400px;
    min-width: 300px; } }
.bgGreen {
  background-color: #2ecc71 !important;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s; }

/*# sourceMappingURL=main.css.map */
