
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?98215842');
  src: url('../fonts/fontello.eot?98215842#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff?98215842') format('woff'),
  url('../fonts/fontello.ttf?98215842') format('truetype'),
  url('../fonts/fontello.svg?98215842#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin background-gradient($from, $to){
  background: $from;
  background: -moz-linear-gradient(top,  $from 0%, $to 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $from 0%,$to 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $from 0%,$to 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $from 0%,$to 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 ); /* IE6-9 */
}
@mixin double_box_shadow($color1, $color2 , $percent){
  -webkit-box-shadow: inset 0 1px 1px lighten($color1, $percent), inset 0 -1px 1px darken($color2, $percent);
  -moz-box-shadow: inset 0 1px 1px lighten($color1, $percent), inset 0 -1px 1px darken($color2, $percent);
  box-shadow: inset 0 1px 1px lighten($color1, $percent), inset 0 -1px 1px darken($color2, $percent);
}

@mixin transition($sec){
  -webkit-transition: ease-in-out $sec;
  -moz-transition: ease-in-out $sec;
  -ms-transition: ease-in-out $sec;
  -o-transition: ease-in-out $sec;
  transition: ease-in-out $sec;
}

$border-radius: 6px;
$theme_color1: rgba(49,55,64,1);
$theme_color2: rgba(38,42,47,1);
$theme_color1_invert: invert($theme_color1);
$theme_color2_invert: invert($theme_color2);
$theme_text: white;
$font-family: 'Roboto', sans-serif;
$font-size: 18px;
$field_bg: transparent;
//$field_bg: rgba(236, 240, 241,1.0);

$padding: 5px 30px;

*{
  font-family: $font-family;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .view{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body{
  @include background-gradient(#616E81, #191821);
  background: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: $theme_text;
}

.min-w-320{
  min-width: 320px;
}

.properties{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper{
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  &:before{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
  }
}
.search_box{
  position: relative;
  display: inline-block;
  width: 100%;
  white-space: normal;
  vertical-align: middle;
  background: rgba(0,0,0,0.5);
}
.wrapper{
  .search_box{
    width: 60%;
  }
}

.erc_search_variant{
  background: white;
  list-style-type: none;
  width: 100%;
  top: 53px;
  position: absolute;
  margin: 0;
  color: #000;
  padding: 0;
  border: 1px solid #cacaca;
  border-bottom: 3px solid #2980b9;
  z-index: 1;
  > li{
    cursor: pointer;
    &.active{
      background: lighten(#3498db,25%);
      color: white;
    }
    > span.number{
      color: white;
      font-size: 11px;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2px 5px;
      background: #3498db;
    }
    position: relative;
    border-bottom: 1px solid #dadada;
    text-align: left;
    padding: 6px 7.5px;
    &:last-child{
      border-bottom: 0px solid #dadada;
    }
  }
}

.ui-button{
  font-family: $font-family;
  font-size: $font-size;
  display: inline-block;
  color: $theme_text;
  padding: 15px 15px;
  cursor: pointer;
  border: 1px solid #fff;
  text-decoration: none;
  @include double_box_shadow($theme_color1,$theme_color1,5%);
  @include background-gradient($field_bg,$field_bg);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  outline: none;
  &:hover{
    outline: none;
    text-decoration: none;
    @include background-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
  }
  &:active,&:focus{
    outline: none;
    @include background-gradient($field_bg,$field_bg);
    -webkit-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
    -moz-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
    box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
  }
  &.flat{
    border-radius: 0;
  }
  &.round{
    border-radius: 1000px;
  }
}
.ui-input{
  font-family: $font-family;
  font-size: $font-size;
  display: inline-block;
  color: $theme_text;
  padding: 15px 15px;
  border: 0px solid #fff;
  outline: none;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
  -moz-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
  box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
  @include background-gradient($field_bg,$field_bg);
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  @include transition(0.3s);
  &:disabled{
    background: transparent;
    border: 0;
  }
  &:hover,&:active,&:focus{
    outline: none;
  }
  &.selectable:focus{
    box-shadow: inset 0 0 10px $theme_text;
    border: 0px solid darken($theme_text,25%);
    @include transition(0.3s);
  }
  &.flat{
    border-radius: 0;
  }
  &.round{
    border-radius: 1000px;
  }
}

.narrow{
  width: 100px;
}

.ui-checkbox{

  display: none;

  + label {
    cursor: pointer;
    position: relative;
  }
  + label:before {
    border: 1px solid #0d151b;
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    vertical-align: middle;
    @include double_box_shadow($theme_color1,$theme_color1,5%);
    @include background-gradient($theme_color1,$theme_color2);
    background-repeat: no-repeat;
  }
  &:checked + label:before{
    @include background-gradient($field_bg,$field_bg);
    -webkit-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
    -moz-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
    box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
  }
  &:checked + label:after{
    font-family: 'fontello';
    font-size: 9px;
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    color: $theme_text;
  }
  &.flat{
    + label:before {
      border-radius: 0;
    }
  }
  &.round{
    + label:before {
      border-radius: 1000px;
    }
  }
}

.ui-radio{

  display: none;

  + label {
    cursor: pointer;
    position: relative;
  }
  + label:before {
    border: 1px solid #0d151b;
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
    vertical-align: middle;
    @include double_box_shadow($theme_color1,$theme_color1,5%);
    @include background-gradient($theme_color1,$theme_color2);
    background-repeat: no-repeat;
  }
  &:checked + label:before{
    @include background-gradient($field_bg,$field_bg);
    -webkit-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
    -moz-box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
    box-shadow: inset 0 1px 1px darken($field_bg, 1%), inset 0 -1px 1px darken($field_bg, 1%);
  }
  &:checked + label:after{
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    left: 5px;
    top: 7px;
    background: white;
  }
  &.flat{
    + label:before {
      border-radius: 0;
    }
  }
  &.round{
    + label:before {
      border-radius: 1000px;
    }
  }
}

#ui-notification{
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  max-width: 400px;
  bottom: 5px;
  right: 5px;
  border: 1px solid #fff;
  color: $theme_text;
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  &.active{
    opacity: 1;
    transform: translateY(0%);
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  &:before{
    content: 'Сообщение';
    position: absolute;
    width: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    font-size: 15px;
    background: $theme_color1;
    color: white;
    top: -20px;
    text-align: center;
    left: -1px;
  }
}

.text-center{
  text-align: center;
}

.wrap{
  width: 100%;
}
.half{
  width: 50%;
  float: left;
}

$icon_offet: -5px,5px;

.demo-icon
{
  pointer-events: none;
  position: absolute;
  right: 0;
  -webkit-transform: translate($icon_offet);
  -moz-transform: translate($icon_offet);
  -ms-transform: translate($icon_offet);
  -o-transform: translate($icon_offet);
  transform: translate($icon_offet);

  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 18px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 18px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  &.icon-temperature{
    color: #e67e22;
  }
  &.icon-snow{
    color:#1FC4D9;
  }
}


.no-p{
  padding: 0;
}


.table{
  text-align: center;
  > tbody{
    > tr{
      &.table-header{
        font-weight: 700;
      }
      > td{
        border: 0px solid #0d151b;
        color: $theme_text;
        padding: $padding;
      }
    }
  }
}
.cleanTable{
  height: 100%;
  width: 100%;
  text-align: center;
  > tbody{
    > tr{
      > td{
        border: 0;
      }
    }
  }
}

.relative{
  position: relative;
}

$panel_padding: 10px;

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}

.hidden{
  display: none;
}

.indications-table{
  width: 100%;
  height: 60px;
  tr{
    &:first-child{
      td{
        border-bottom: 1px solid rgba(255,255,255,0.3);
        border-top: 1px solid rgba(255,255,255,0.3);
        background: rgba(0,0,0,0.3);
        padding: 10px 0;
      }
    }
    &:last-child{
      td{
        border-bottom: 1px solid rgba(255,255,255,0.3);
      }
    }
    td{
      text-align: center;
      vertical-align: middle;
      border-right: 1px solid rgba(255,255,255,0.3);
      &:last-child{
        border-right: 0;
      }
    }
  }

}
.serial{
  position: absolute;
  left: 5px;
  top: -10px;
}
.supply-icon{
  position: absolute;
  right: 0px;
  top: -5px;
}

.row{
  position: relative;
  //padding: 20px 0;
  //border-bottom: 1px solid #bababa;
}
.bg-w-01{
  background: rgba(255,255,255,0.1);
}

.panel{
  //border: 1px solid #bababa;
  display: inline-block;
  > *{
    &:first-child{
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }
    &:last-child{
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  .section{
    width: 100%;
    padding: $panel_padding;
  }
  .header{
    padding: $panel_padding;
    text-align: center;
  }
}
.account{
  padding: 20px;
  background: rgba(0,0,0,0.5);
}

.account{
  .name{

  }
  .number{

  }
}

keyboard{
  border:1px solid gray;
  font-size:1.1em;
  box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  margin:2px 3px;
  padding:1px 5px;
  color: rgb(48,48,48);
  background: white;
}


// colors


.bg-blue{
  background: rgba(200,200,255,0.25);
}
.bg-orange{
  background: rgba(255,200,200,0.25);
}

.blue{
  background: #3498db;
  color: white;
}
.cblue{
  color: #3498db;
}

.col-3{
  float: left;
  width: 300/12*1%;
}
.col-9{
  float: left;
  width: 900/12*1%;
}