@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?98215842");
  src: url("../fonts/fontello.eot?98215842#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?98215842") format("woff"), url("../fonts/fontello.ttf?98215842") format("truetype"), url("../fonts/fontello.svg?98215842#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, .view {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background: #616E81;
  background: -moz-linear-gradient(top, #616E81 0%, #191821 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616E81), color-stop(100%, #191821));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #616E81 0%, #191821 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #616E81 0%, #191821 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #616E81 0%, #191821 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #616E81 0%, #191821 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
  /* IE6-9 */
  background: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white; }

.min-w-320 {
  min-width: 320px; }

.properties {
  padding: 0;
  margin: 0;
  list-style-type: none; }

.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  text-align: center; }
  .wrapper:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: ''; }

.search_box {
  position: relative;
  display: inline-block;
  width: 100%;
  white-space: normal;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.5); }

.wrapper .search_box {
  width: 60%; }

.erc_search_variant {
  background: white;
  list-style-type: none;
  width: 100%;
  top: 53px;
  position: absolute;
  margin: 0;
  color: #000;
  padding: 0;
  border: 1px solid #cacaca;
  border-bottom: 3px solid #2980b9;
  z-index: 1; }
  .erc_search_variant > li {
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #dadada;
    text-align: left;
    padding: 6px 7.5px; }
    .erc_search_variant > li.active {
      background: #a0cfee;
      color: white; }
    .erc_search_variant > li > span.number {
      color: white;
      font-size: 11px;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2px 5px;
      background: #3498db; }
    .erc_search_variant > li:last-child {
      border-bottom: 0px solid #dadada; }

.ui-button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: inline-block;
  color: white;
  padding: 15px 15px;
  cursor: pointer;
  border: 1px solid #fff;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
  -moz-box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
  box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none; }
  .ui-button:hover {
    outline: none;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0.2)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
    /* IE6-9 */ }
  .ui-button:active, .ui-button:focus {
    outline: none;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
    -moz-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
    box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent; }
  .ui-button.flat {
    border-radius: 0; }
  .ui-button.round {
    border-radius: 1000px; }

.ui-input {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: inline-block;
  color: white;
  padding: 15px 15px;
  border: 0px solid #fff;
  outline: none;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
  -moz-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
  background: transparent;
  background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, transparent 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s; }
  .ui-input:disabled {
    background: transparent;
    border: 0; }
  .ui-input:hover, .ui-input:active, .ui-input:focus {
    outline: none; }
  .ui-input.selectable:focus {
    box-shadow: inset 0 0 10px white;
    border: 0px solid #bfbfbf;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s; }
  .ui-input.flat {
    border-radius: 0; }
  .ui-input.round {
    border-radius: 1000px; }

.narrow {
  width: 100px; }

.ui-checkbox {
  display: none; }
  .ui-checkbox + label {
    cursor: pointer;
    position: relative; }
  .ui-checkbox + label:before {
    border: 1px solid #0d151b;
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
    -moz-box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
    box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
    background: #313740;
    background: -moz-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313740), color-stop(100%, #262a2f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #313740 0%, #262a2f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
    /* IE6-9 */
    background-repeat: no-repeat; }
  .ui-checkbox:checked + label:before {
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
    -moz-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
    box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent; }
  .ui-checkbox:checked + label:after {
    font-family: 'fontello';
    font-size: 9px;
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    color: white; }
  .ui-checkbox.flat + label:before {
    border-radius: 0; }
  .ui-checkbox.round + label:before {
    border-radius: 1000px; }

.ui-radio {
  display: none; }
  .ui-radio + label {
    cursor: pointer;
    position: relative; }
  .ui-radio + label:before {
    border: 1px solid #0d151b;
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
    -moz-box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
    box-shadow: inset 0 1px 1px #3c434e, inset 0 -1px 1px #262b32;
    background: #313740;
    background: -moz-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #313740), color-stop(100%, #262a2f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #313740 0%, #262a2f 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #313740 0%, #262a2f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
    /* IE6-9 */
    background-repeat: no-repeat; }
  .ui-radio:checked + label:before {
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, transparent 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, transparent));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, transparent 0%, transparent 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, transparent 0%, transparent 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, transparent 0%, transparent 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313740', endColorstr='#262a2f',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
    -moz-box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent;
    box-shadow: inset 0 1px 1px transparent, inset 0 -1px 1px transparent; }
  .ui-radio:checked + label:after {
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    width: 6px;
    height: 6px;
    content: "";
    position: absolute;
    left: 5px;
    top: 7px;
    background: white; }
  .ui-radio.flat + label:before {
    border-radius: 0; }
  .ui-radio.round + label:before {
    border-radius: 1000px; }

#ui-notification {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  max-width: 400px;
  bottom: 5px;
  right: 5px;
  border: 1px solid #fff;
  color: white;
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s; }
  #ui-notification.active {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s; }
  #ui-notification:before {
    content: 'Сообщение';
    position: absolute;
    width: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    height: 20px;
    font-size: 15px;
    background: #313740;
    color: white;
    top: -20px;
    text-align: center;
    left: -1px; }

.text-center {
  text-align: center; }

.wrap {
  width: 100%; }

.half {
  width: 50%;
  float: left; }

.demo-icon {
  pointer-events: none;
  position: absolute;
  right: 0;
  -webkit-transform: translate(-5px, 5px);
  -moz-transform: translate(-5px, 5px);
  -ms-transform: translate(-5px, 5px);
  -o-transform: translate(-5px, 5px);
  transform: translate(-5px, 5px);
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 18px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 18px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none; }
  .demo-icon.icon-temperature {
    color: #e67e22; }
  .demo-icon.icon-snow {
    color: #1FC4D9; }

.no-p {
  padding: 0; }

.table {
  text-align: center; }
  .table > tbody > tr.table-header {
    font-weight: 700; }
  .table > tbody > tr > td {
    border: 0px solid #0d151b;
    color: white;
    padding: 5px 30px; }

.cleanTable {
  height: 100%;
  width: 100%;
  text-align: center; }
  .cleanTable > tbody > tr > td {
    border: 0; }

.relative {
  position: relative; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hidden {
  display: none; }

.indications-table {
  width: 100%;
  height: 60px; }
  .indications-table tr:first-child td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 0; }
  .indications-table tr:last-child td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .indications-table tr td {
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid rgba(255, 255, 255, 0.3); }
    .indications-table tr td:last-child {
      border-right: 0; }

.serial {
  position: absolute;
  left: 5px;
  top: -10px; }

.supply-icon {
  position: absolute;
  right: 0px;
  top: -5px; }

.row {
  position: relative; }

.bg-w-01 {
  background: rgba(255, 255, 255, 0.1); }

.panel {
  display: inline-block; }
  .panel > *:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
  .panel > *:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
  .panel .section {
    width: 100%;
    padding: 10px; }
  .panel .header {
    padding: 10px;
    text-align: center; }

.account {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); }

keyboard {
  border: 1px solid gray;
  font-size: 1.1em;
  box-shadow: 1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 2px 3px;
  padding: 1px 5px;
  color: #303030;
  background: white; }

.bg-blue {
  background: rgba(200, 200, 255, 0.25); }

.bg-orange {
  background: rgba(255, 200, 200, 0.25); }

.blue {
  background: #3498db;
  color: white; }

.cblue {
  color: #3498db; }

.col-3 {
  float: left;
  width: 25%; }

.col-9 {
  float: left;
  width: 75%; }

/*# sourceMappingURL=ui-kit.css.map */
