
    html,body{
        width: 100%;
        height: 100%;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: auto;
        white-space: nowrap;
        text-align: center;
    }

    .wrapper:before {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        content: '';
    }
    .search_box{
        position: relative;
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        min-width: 400px;
        width: 400px;
    }
    .erc_search{
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #dadada;
        box-shadow: none;
        -webkit-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s;
        outline: none;
    }
    .erc_search:active,.erc_search:focus,.erc_search:valid{
        outline: none;
        box-shadow: inset -40px 0 #3498db;
        -webkit-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s;
    }
    .erc_search_variant{
        list-style-type: none;
        width: 100%;
        top: 41px;
        position: absolute;
        margin: 0;
        padding: 0;
        border: 1px solid #cacaca;
    }
    .erc_search_variant li{
        text-align: left;
        padding: 5px 7.5px;
    }
    .icon{
        position: absolute;
        right: 0px;
        z-index: 2;
        top: 0px;
        padding: 21px;
        background: url(/assets/img/home168.png) no-repeat;
        background-position: 50%;
    }
    .icon:hover{
        cursor: pointer;
    }