
.icon-ok:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-sun-filled:before { content: '\e803'; } /* '' */
.icon-signal:before { content: '\e804'; } /* '' */
.icon-snow:before { content: '\e805'; } /* '' */
.icon-temperatire:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-th-list-1:before { content: '\e811'; } /* '' */
.icon-spin4:before { content: '\e812'; } /* '' */