
<!--<div class="ui-button flat">Сохранить</div>-->

<!--<input type="text" class="ui-input flat text-center" placeholder="значение">-->

<!--<input id="check1" type="checkbox" class="ui-checkbox flat" checked="checked">-->
<!--<label for="check1"></label>-->
<!--<input id="check2" type="checkbox" class="ui-checkbox flat">-->
<!--<label for="check2"></label>-->

<!--<input id="radio1" type="radio" name="radiobutton" c.
lass="ui-radio round" checked="checked">-->
<!--<label for="radio1"></label>-->
<!--<input id="radio2" type="radio" name="radiobutton" class="ui-radio round">-->
<!--<label for="radio2"></label>-->


<!--<div class="search_box" ng-controller="MainCtrl">-->
    <!--<input type="text" ng-keyup="onKeydown($event)" class="erc_search ui-input flat full wrap min-w-320" ng-model="search" required placeholder="Введите ЛС или адрес">-->
    <!--<ul class="erc_search_variant">-->
        <!--<li ng-repeat="item in items" ng-click="setSearch(item)" ng-class="{active:active_item_index==$index}">{{}}{{item.street.formalName}}</li>-->
    <!--</ul>-->
<!--</div>-->


<div class="row" ng-controller="ParamCtrl" ng-init="getData()">

    <div class="col-12">
        <div class="panel wrap account">
            <p>
                Клиент: {{::account.customerFIO}}
            </p>
            <p>
                Лицевой счет: {{::account.accountNumber}}
            </p>
            <p>
                Адрес: {{::address.street}} {{::address.house}}-{{::address.flat}}
            </p>
        </div>
    </div>

    <div class="col-12">

        <div class="panel wrap">

            <table class="indications-table" border="0" cellspacing="0" cellpadding="0">


                <tr>
                    <td colspan="4">Предыдущие значения</td>

                    <td colspan="2">Текущие значения</td>

                    <td colspan="3">Прочее</td>
                </tr>

                <tr>

                    <td>Текущий статус</td>
                    <td>Передан</td>
                    <td>Период</td>
                    <td>Значение</td>

                    <td>Значение</td>
                    <td>Передан</td>

                    <td ng-repeat="prop in customProperties">{{prop.name}}</td>

                </tr>

                <tr ng-repeat="meter in meters">
                    <td class="hidden">
                        {{showSupply()}}
                        {{getIndications(meter.rows.row[0])}}
                    </td>
                    <td class="bg-{{supplyBg}}">
                        {{parameters.prev.currentStatus}}
                    </td>
                    <td class="bg-{{supplyBg}}">
                        {{parameters.prev.collectDate | date}}
                    </td>
                    <td class="bg-{{supplyBg}}">
                        {{parameters.prev.consumptionInterval}}
                    </td>
                    <td class="bg-{{supplyBg}} narrow">
                        <input type="text" class="ui-input flat text-center wrap" disabled="disabled" ng-value="parameters.prev.value">
                    </td>
                    <td class="narrow relative">
                        <i class="demo-icon {{supplyClass}}" title="{{meter.supplyType}}" ng-bind-html="supplyType"></i>
                        <input type="text" ng-keydown="onFillParams($event)" ng-model="form[meter.rows.row[0].id]" select-on-click numbers-only="numbers-only" class="ui-input flat text-center wrap selectable" ng-value="parameters.current.value">
                    </td>
                    <td class="bg-{{supplyBg}}">
                        {{parameters.current.collectDate | date}}
                    </td>
                    <td class="bg-{{supplyBg}}" ng-repeat="prop in customProperties">
                        {{meter.customProps.customProp[prop.id].value}}
                    </td>

                </tr>
            </table>

            <!--<button class="ui-button flat wrap hidden" ng-click="saveParameters()" id="save">Сохранить</button>-->

        </div>

    </div>



</div>

