
<div class="wrapper" ng-controller="MainCtrl" ng-init="notify('Введите адрес в формате улица дом-квартира<br>пример: Николая Островского 113-54 или введите номер личного счета пример: 3060584 <br><br> Для справки нажмите <keyboard>Ctrl</keyboard> + <keyboard>H</keyboard>',20000);
">
    <div class="search_box">
        <input type="text" ng-keyup="onKeydown($event)" class="erc_search ui-input flat full wrap min-w-320" ng-model="search" required placeholder="Введите ЛС или адрес">

        <ul class="erc_search_variant">
            <li ng-repeat="item in items | limitTo : 10" ng-click="setSearch(item)" ng-class="{active:active_item_index==$index}">{{item.street.formalName}} {{item.house.houseNumber}}-{{item.flat.number}}</li>
        </ul>
    </div>
</div>